<component name="ArtifactManager">
  <artifact type="war" name="Spring-Family-Batch:war">
    <output-path>$PROJECT_DIR$/Spring-Family-Batch/target</output-path>
    <root id="archive" name="Spring-Family-Batch-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="Spring-Family-Batch:war exploded" />
    </root>
  </artifact>
</component>